या*{
    margin:0px;
    height: 0px;
  box-sizing:border-box ;
}

.dashboard-header{
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}
.header-text-second{
margin:20px;

}

.account{
    text-decoration: none;
    color:rgb(156, 156, 156);
    border: 1px solid rgb(160, 160, 160);
    border-radius: 40px;   
    padding: 10px; 
    
}


.header-text{
  text-align: center;
    font-size: 30px;
    margin:10px;
    color: rgb(97, 95, 95);
}





.main-body-dashboard{
    height:700px;
    width: 1000px;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,500px));
    grid-template-rows: repeat(auto-fill,minmax(100%,10px));
   
}

.box1{
    width: 100%;
    height: 100%;
    background-color: grey;  
    grid-row: 1/3;

}

.box2{
    width: 1100px;
    height: 100%;
    background-color:rgb(196, 237, 238);
    grid-column: 2/3;
}

.box3{
    width: 1100px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    grid-column: 2/3;
}
a{
    text-decoration: none;
    color: white;
}

li{
    display: grid;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom:50px;
    text-align: left;
    padding: 10px;
    font-weight: bolder;
    font-size: larger;
    
}


.main-second-box{

    margin: 60px;
    margin-left: 150px;
    padding: 70px;
    height:400px;
    width: 800px;
    display:grid;
    grid-template-columns: repeat(minmax(30px,60px));
    grid-template-rows: repeat(minmax(30px,100px));
    row-gap: 30px;
    column-gap: 30px;
}

.box-box1{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);  
    grid-column: 1/2;
    border-radius: 20px;
    cursor: pointer;

}

.box-box2{
    width: 100%;
    height: 100%;
    background-color:rgb(255, 255, 255);
    grid-column: 2/2;
    border-radius: 20px;
    cursor: pointer;

}

.box-box3{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    grid-column: 1/2;
    border-radius: 20px;
    cursor: pointer;


}

.box-box4{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255); 
    grid-column: 2/2;
    border-radius: 20px;
    cursor: pointer;margin-top:20px;


    
}

.content-1{
    margin-top: 20px;
    margin-left:80px;
    cursor: pointer;

}

.box-text-1{
    position: absolute;
    margin-top: 20px;
    text-align: left;
    width: 100px;
    cursor: pointer;

}

.img-box-1{
    position: absolute;
    background-image: url(/images/man.jpg);
    background-position: center;
    background-size: auto;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-left:-60px;
    margin-top:15px;
    
    cursor: pointer;
    
    
}

.img-box-2{
    position: absolute;
    background-image: url(/images/paper.png);
    background-position: center;
    background-size: auto;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-left:-60px;
    margin-top:15px;
    cursor: pointer;
    
    
    
}
.img-box-3{
    position: absolute;
    background-image: url(/images/folder.png);
    background-position: center;
    background-size: auto;
    background-size: cover;
    width: 50px;
    height: 50px;
    
    margin-left:-60px;
    margin-top:15px;
    cursor: pointer;
    
    
}
.img-box-4{
    position: absolute;
    background-image: url(/images/ask.jpg);
    background-position: center;
    background-size: auto;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-left:-60px;
    margin-top:15px;
    cursor: pointer;
    
}



.row-1-1{
    display: flex;
    height: 100px;
    width: 800px;
    margin-left: 20vh;
    margin-top: 20px;

}
.row-1-2{
    display: flex;
    height: 100px;
    width: 925px;
    margin-left: 20vh;
    margin-top: 20px;

}
.col-1-1{

    border: 1px solid black;
    border-radius: 20px;
    height: 200px;
    width: 900px;
    margin:10px;

    
}

.top-cover-1{
    margin-left: 30px;   
}


.top-cover-2{
    margin-left: 30px;  
    text-align: center;
}

.col-1-2{

    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
    height: 200px;
    width: 900px;
    margin:130px;
    margin-left: 10px;

    
}
